
*{
  margin:0;
  padding: 0;
  box-sizing: border-box;
}

body{
  font-family: "Nunito",sans-serif;
  background: #f8f8f8;
  background-image: url('./images/Weather-Photo-HD.jpg');
}

.input{
  text-align: center;
  margin: 50px auto;
  border-radius: 30px;
}

input[type="button"]{
  padding: 15px 25px;
  background: #965353;
  border: none;
  border-radius: 30px;
  font-family: "Nunito",sans-serif;
  font-weight:bold;
  font-size: 20px;
}

.input input[type="text"]{
  width: 400px;
  height: 50px;
  padding: 5px 10px;
  background: #dfdbdb;
  border: none;
  border-radius: 30px;
  font-family: "Nunito",sans-serif;
  font-weight:bold;
  font-size: 20px;
}

.card{
  width: 50%;
  background:rgb(170, 170, 173);
  height: 400px;
  margin: 50px auto;
  border-radius: 30px;
  font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  font-style: italic;

}


.close{
  float: right;
  margin-top: -2px;
  cursor: pointer;
  margin-right: 20px;
}

.card h1{
  padding: 5px 0;
  text-align: center;
}

.card p{
  text-align: center;
  margin:40px 0;
  font-size:20px;
}
